body {
  background-color: #ffe6cc;
}

h1 {
  color: #cc4400;
  margin-left: 25px;
}

#first {
  width: 100px;
  border: 5px solid #ed4d34;
  background: #FFF;
  padding: 50px;
  margin: 40px;
  border-radius: 25px;
  padding: 20px;
  height: 150px;
}
#second {
  width: 200px;
  border: 5px solid #32a852;
  background: #FFF;
  padding: 50px;
  margin: 40px;
  box-shadow: 15px 15px;
}
#third {
background-image: linear-gradient(#cc4400 , #f277b4);
  width: 300px;
  border: 5px solid #30a5b0;
  padding: 50px;
  margin: 40px;
}
